params {
    outdir = "./results"

    samplesheet = "/cellfile/datapublic/jkoubele/example_pipeline/samplesheet.csv"
    fastq_dir   = "/cellfile/datapublic/jkoubele/example_pipeline/subsample/"

    gtf_file = "/cellfile/datapublic/jkoubele/example_pipeline/Drosophila_melanogaster.BDGP6.46.112.gtf"
    genome_fasta = "/cellfile/datapublic/jkoubele/example_pipeline/Drosophila_melanogaster.BDGP6.46.dna.toplevel.fa"
    transcriptome_fasta = "/cellfile/datapublic/jkoubele/example_pipeline/Drosophila_melanogaster.BDGP6.46.cdna.all.fa"
    gtf_source = "ensembl"

    star_index  = null  /* can be set to an existing path*/
    salmon_index  = null  /* can be set to an existing path*/
}

docker {
    enabled = true
    runOptions = "-u \$(id -u):\$(id -g)"
}


profiles {
  local {
    process.executor = 'local'
  }

  slurm {
    process.executor = 'slurm'
    clusterOptions = "--output ./slurm_logs/%x/%j_%x.log  --error=./slurm_logs/%x/%j_%x.err"
  }
}

process {

 withName: BuildSalmonIndex {
    cpus = 8
    memory = '32 GB'
 }

  withName: BuildStarIndex {
    cpus = 16
    memory = '64 GB'
 }

 withName: FastQC {
    cpus = 4
    memory = '4 GB'
  }

  withName: STARAlign {
    cpus = 8
    memory = '25 GB'
    }

  withName: ExtractIntronicReads {
    cpus = 2
    memory = '10 GB'
    }
 withName: RemoveIntronicReadsFromFASTQ{
     cpus = 1
    memory = '10 GB'
 }
}


report {
    overwrite = true
}

timeline {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}
