params {
    outdir = "./results"
}

docker {
    enabled = true
    runOptions = "-u \$(id -u):\$(id -g)"
}


profiles {
  local {
    process.executor = 'local'
  }

  slurm {
    process.executor = 'slurm'
    clusterOptions = "--output ./slurm_logs/%x/%j_%x.log  --error=./slurm_logs/%x/%j_%x.err"
  }
}

process {

    withName: BuildSalmonIndex {
        cpus = 16
        memory = '200 GB'
    }

    withName: BuildStarIndex {
        cpus = 16
        memory = '200 GB'
    }

    withName: FastQC {
        cpus = 2
        memory = '4 GB'
    }

    withName: MultiQC {
        cpus = 4
        memory = '8 GB'
    }

    withName: STARAlign {
        cpus = 12
        memory = '120 GB'
    }

    withName: ExtractIntronsFromGTF {
        cpus = 1
        memory = '6 GB'
    }

    withName: PrepareTx2Gene {
        cpus = 2
        memory = '8 GB'
    }

    withName: CreateGenomeFastaIndex {
        cpus = 1
        memory = '4 GB'
    }

    withName: ComputeCoverage {
        cpus = 2
        memory = '8 GB'
    }

    withName: ExtractIntronicReads {
        cpus = 2
        memory = '10 GB'
    }

    withName: RemoveIntronicReadsFromFASTQ{
        cpus = 2
        memory = '10 GB'
    }

    withName: SalmonQuantification {
        cpus = 8
        memory = '16 GB'
    }

    withName: RescaleCoverage{
        cpus = 2
        memory = '16 GB'
    }

    withName: AggregateReadCounts{
        cpus = 2
        memory = '16 GB'
    }

}

report {
    enabled = true
    file = 'report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = 'timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = 'trace.txt'
    overwrite = true
}

dag {
    enabled = true
    file = 'dag.png'
    overwrite = true
}