params {
    samplesheet = "/home/jakub/Desktop/example_pipeline/samplesheet.csv"
    fastq_dir   = "/home/jakub/Desktop/example_pipeline/subsample/"

    gtf_file = "/home/jakub/Desktop/example_pipeline/Drosophila_melanogaster.BDGP6.46.112.gtf"
    genome_fasta = "/home/jakub/Desktop/example_pipeline/Drosophila_melanogaster.BDGP6.46.dna.toplevel.fa"
    transcriptome_fasta = "/home/jakub/Desktop/example_pipeline/Drosophila_melanogaster.BDGP6.46.cdna.all.fa"

    star_index  = null  /* can be set to an existing path*/
}

docker {
    enabled = true
    runOptions = "-u \$(id -u):\$(id -g)"
}


profiles {
  local {
    process.executor = 'local'
  }

  slurm {
    process.executor = 'slurm'
    clusterOptions = '--output logs/slurm-%j.out --error logs/slurm-%j.err'
  }
}

process {
 withName: FastQC {
    cpus = 4
    memory = '4 GB'
    time = '30m'
  }
}


report {
    overwrite = true
}

timeline {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}
