params {
    samplesheet = "/cellfile/datapublic/jkoubele/example_pipeline/samplesheet.csv"
    fastq_dir   = "/cellfile/datapublic/jkoubele/example_pipeline/subsample/"
}

docker.enabled = true
docker.runOptions = "-u \$(id -u):\$(id -g)"

profiles {
  local {
    process.executor = 'local'
  }

  slurm {
    process.executor = 'slurm'
    clusterOptions = '--output logs/slurm-%j.out --error logs/slurm-%j.err'
  }
}

process {
 withName: FastQC {
    cpus = 4
    memory = '4 GB'
    time = '30m'
  }
}


report {
    overwrite = true
}

timeline {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}
